<style type="text/css" media="screen">
    #editor { 
        top: 30;
        right: 0;
        height: 600px;
        width: 50%;
        bottom: 0;
        left: 0;
		display:inline-block
    }
	#svgcontainer{
		display:inline-block
	}
</style>
<div ng-keydown="keyDown($event)" tabindex="0">
	<div ng-keyup="keyUp($event)" tabindex="1">
		<div id="editor">

		// Welcome to the Interactive D3 Editor
		// Try this: click on any integer in the code,
		// hold down the Alt key and then move the mouse.

		var container = d3.select("#svgcontainer")
			.append("svg")
			.attr("width",w)
			.attr("height",h);

		for(var i=0;i<85;i++){
			container
				.append("circle")
				.attr("cx",9*i)
				.attr("cy",190+45*Math.cos(i/3))
				.attr("r",69)
				.attr("fill","steelblue")
				.attr("fill-opacity",0.15);
		}
			</div>

		<div id="svgcontainer"></div>
		<br \>
		<div ng-controller="ModalDemoCtrl">
			<script type="text/ng-template" id="myModalContent.html">
				<div class = "modal-header" > <h3 class = "modal-title" > Select a D3.js code sample</h3></div>
				<div class="modal-body">
					<div ng-controller="CarouselDemoCtrl">
						<div style="height: 380px">
							<carousel interval="myInterval">
								<slide ng-repeat="slide in items" active="slide.active">
									<img ng-src="{{slide.img}}" style="margin:auto;" ng-click="select($index)">
									<div class="carousel-caption">
										<h4>{{slide.title}}</h4>
									</div>
								</slide>
							</carousel>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="ok()">Ok</button>
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				</div>
			</script>

			<button class="btn btn-default" ng-click="open()">View D3 Exampes</button>
			<button type="button" class="btn btn-default" ng-click="executeScript()">Run Code</button>
			<button type="button" class="btn btn-default" ng-click="printSctipt()">Print Code</button>
		</div>
	<pre>
	<h4>{{jsError}}</h4>
	</pre>
	</div>
</div>