<style>

	
	#leftCol{
		position: fixed;
		top: 52px;
		left: 65px;
	}
	
    .cssline1 {
    color: #002635;
    }


    #btn1
    {
    position: absolute;
    top: 5px;
    left: 450px;
    border: 1px;
    font: bold 18px 'Trebuchet MS';
    background-color: #002635;
    border-radius:2px;
    color: #002635;
    cursor: pointer;
    }
    .container {
    position: relative;
    }
    #btn2
    {
    position: absolute;
    top: 5px;
    left: 450px;
    border: 1px;
    font: bold 18px 'Trebuchet MS';
    background-color: #6495ED;
    border-radius:2px;
    color: #111;
    cursor: pointer;
    }

    #btn3
    {
    position: absolute;
    top: 5px;
    left: 450px;
    border: 1px;
    font: bold 18px 'Trebuchet MS';
    background-color: #6495ED;
    border-radius:2px;
    color: #111;
    cursor: pointer;
    }
    fieldset{
    width: 520px;
    }
    fieldset p{
    padding: 4px;
    }

    p,
    input {
    font-size: 18px
    }

    legend {
    font-size: 25px
    }

    .toolTip
    {
    font: 16px 'Trebuchet MS';
    }

    .tooltip {
    font-family:Trebuchet MS;
    font-size: 16px;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: black;
    stroke-width: 2;
    shape-rendering: crispEdges;
    }

    .xAxis,
    .yAxis  {
    font-family:georgia;
    font-size: 28px;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: rgba(0,0,0,1);
    shape-rendering: crispEdges;
    }
    .grid {
    fill: none;
    stroke: black;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
    }
    #cssmenucalc  {
    padding: 10px 22px !important;
    }
    .eq-input {
    border: 2px solid rgba(0, 38, 53, .1);
    border-radius: 0px;

    font-family : inherit;
    }
</style>

<div class="">
        <div id="svg-container"></div>
</div>


<div  ng-controller="FunctionCtrl" class="list-group col-md-3" id="leftCol">
	<div class="" >
		<div ng-repeat="func in functionInput">
			<li class="list-group-item" >
				<div class="">
					<label class="control-label" >{{func.name}}</label>
					<input style="border-color: {{func.color}}" id={{func.id}} name="appendedcheckbox" ng-enter="parse_input()" class="" type="text" value={{func.placeholder}}>
					<span class="add-on">
						<input type="checkbox" ng-click="checkbox(func.id)" checked>
					</span>
				</div>
			</li>
		</div>
	</div>
	
	<div ng-controller="DropDownCtrl">

		<!-- Single button -->
		<div class="btn-group" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
			Calculate Stuff <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">

				<li ng-click="control.toolTip.hideAll()"><a><b>Hide all</b></a></li>
				<li class="divider"></li>
				<li ng-click="control.toolTip.intersect()"><a>Intersections</a></li>
				<li ng-click="control.toolTip.root()"><a>Roots</a></li>
				<li ng-click="control.toolTip.maxmin()"><a>Max & Min Points</a></li>

			</ul>
		</div>	
		
	</div>


</div>
		
		
    

<!--



<style>
	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
	/* Starter CSS for Flyout Menu */

	#markerText{
		font-weight: 900;
		font-size: 18px;
	}

	#cssmenu,
	#cssmenu ul,
	#cssmenu ul li,
	#cssmenu ul ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  border: 0;
	}
	#cssmenu ul {
	  position: relative;
	  z-index: 597;
	  float: left;
	}
	#cssmenu ul li {
	  float: left;
	  min-height: 1px;
	  line-height: 1em;
	  vertical-align: middle;
	}
	#cssmenu ul li.hover,
	#cssmenu ul li:hover {
	  position: relative;
	  z-index: 599;
	  cursor: default;
	}
	#cssmenu ul ul {
	  margin-top: 0px;
	  visibility: hidden;
	  position: absolute;
	  top: 0px;
	  left: -105%;
	  z-index: 598;
	  width: 100%;
	}
	#cssmenu ul ul li {
	  float: none;
	}
	#cssmenu ul ul ul {
	  top: 1px;
	  left: 99%;
	}
	#cssmenu ul li:hover > ul {
	  visibility: visible;
	}
	#cssmenu ul li {
	  float: none;
	}
	#cssmenu ul ul li {
	  font-weight: normal;
	}
	/* Custom CSS Styles */
	#cssmenu {
	  font-family: 'Lato', sans-serif;
	  font-size: 18px;
	  width: 290px;
	}
	#cssmenu ul a,
	#cssmenu ul a:link,
	#cssmenu ul a:visited {
	  display: block;
	  color: #848889;
	  text-decoration: none;
	  font-weight: 300;
	}
	#cssmenu > ul {
	  float: none;
	}
	#cssmenu ul {
	  background: #fff;
	}
	#cssmenu > ul > li {
	  border-left: 3px solid #d7d8da;
	}
	#cssmenu > ul > li > a {
	  padding: 2px 10px;
	}
	#cssmenu > ul > li:hover {
	  border-left: 3px solid #3dbd99;
	}
	#cssmenu ul li:hover > a {
	  color: #002635;
	}
	#cssmenu > ul > li:hover {
	  background: #f6f6f6;
	}
	/* Sub Menu */
	#cssmenu ul ul a:link,
	#cssmenu ul ul a:visited {
	  font-weight: 400;
	  font-size: 14px;
	}
	#cssmenu ul ul {
	  width: 300px;
	  background: none;
	  border-left: 20px solid transparent;
	}
	#cssmenu ul ul a {
	  padding: 8px 8px;
	  border-bottom: 1px solid #eeeeee;
	}
	#cssmenu ul ul li {
	  padding: 0 0px;
	  background: #fff;
	}
	#cssmenu ul ul li:last-child {
	  border-bottom: 3px solid #d7d8da;
	  padding-bottom: 10px;
	}
	#cssmenu ul ul li:first-child {
	  padding-top: 0px;
	}
	#cssmenu ul ul li:last-child > a {
	  border-bottom: none;
	}
	#cssmenu ul ul li:first-child:after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: -20px;
	  top: 13px;
	  border-left: 10px solid transparent;
	  border-right: 10px solid #fff;
	  border-bottom: 10px solid transparent;
	  border-top: 10px solid transparent;
	}
		-->


<!--
<div ng-controller="DropdownCtrl">

    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Calculate <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="control_calc_root('Hello World')">Calculate Roots</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
	
    <hr />
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>

</div>




<div class="custom-menu">
	
	
	<div id='cssmenu'>
		<ul>
			<li id="cssmenucalc"><a><span>Calculate</span></a>
			   <ul>
					<li class='has-sub' onclick="cm.toolTip.hideAll()"><a><span>Turn on / off</span></a></li>
					<li class='has-sub' onclick="cm.toolTip.intersect()"><a><span>Intersections</span></a></li>
					<li class='has-sub' onclick="cm.toolTip.root()"><a><span>Roots</span></a></li>
					<li class='has-sub' onclick="cm.toolTip.maxmin()"><a><span>Max & Min points</span></a></li>
					<li class='has-sub' onclick="cm.toolTip.inflexion()"><a><span>Inflexion points</span></a></li>
					<li class='has-sub' onclick="cm.toolTip.xyvalues()"><a><span>X & Y Values</span></a></li>
				</ul>
			</li>
			<form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
			</form>
			<li >
				<a><span>
					
					<input type="checkbox" onclick="cm.lineOne.change()" checked/>  
					f(x) =<input class="form-control" id="equationString" style="width:30% !important" type="text" name="equationString" value="cos(x)" 
										ng-keydown="parse_input()" size="16">
						<hr class="cssline1"  color="#002635" size="5" width="248" align="LEFT"/>
					</span></a>
					
			</li>
			<li >
				<a><span>
					<input type="checkbox" onclick="cm.lineTwo.change()" checked/>  
					g(x) =<input class="eq-input" id="equationString2" type="text" name="equationString2" value="sin(x)" 
									ng-keydown="parse_input()" size="16">
					<hr id="cssline2" color="#AB1A25" size="5" width="248" align="LEFT"/>
				</span></a>
			</li>
			<li >
				<a><span><input type="checkbox" onclick="cm.lineThree.change()" checked/>  
				h(x) =<input class="eq-input" id="equationString3" type="text" name="equationString3" value="0.2*cos(3x)" 
									ng-keydown="parse_input()" size="16">
					<hr id="cssline3" color="#D97925" size="5" width="248" align="LEFT"/>
				</span></a>
			</li>
		</ul>
	</div>
</div>


-->